<!-- This heading indicates the purpose of the form -->
<h1>Add Cardio</h1>

<!-- This form_with helper generates a form for adding a user's cardio activity -->
<%= form_with(model: @cardio, url: cardios_path, local: true) do |form| %>

  <!-- This label prompts the user to enter their cardio activity -->
  <%= form.label :value, "Enter Cardio Hours:" %>

  <!-- This number_field generates an input field for entering the cardio hours -->
  <%= form.number_field :value %>

  <!-- This submit button allows the user to submit their cardio activity -->
  <%= form.submit "Add Cardio" %>

<% end %>
