<!-- This heading indicates the section for adding a weight loss goal -->
<h1>Add Weightloss GOAL</h1>

<!-- This form_with helper generates a form for adding a weight loss goal -->
<%= form_with(model: @weightlossgoal, url: weightlossgoals_path, local: true) do |form| %>

  <!-- This label prompts the user to enter their weight loss goal -->
  <%= form.label :value, "Enter Your Weightloss GOAL:" %>

  <!-- This number_field generates an input field for entering the weight loss goal -->
  <%= form.number_field :value %>

  <!-- This submit button allows the user to submit their weight loss goal -->
  <%= form.submit "Submit lbs" %>

<% end %>
