<!-- This heading indicates the section for adding weight -->
<h1>Add Weight</h1>

<!-- This form_with helper generates a form for adding weight -->
<%= form_with(model: @weight, url: weights_path, local: true) do |form| %>

  <!-- This label prompts the user to enter their weight -->
  <%= form.label :value, "Enter Your Weight:" %>

  <!-- This number_field generates an input field for entering the weight -->
  <%= form.number_field :value %>

  <!-- This submit button allows the user to submit their weight -->
  <%= form.submit "Submit Weight" %>

<% end %>
