<h1>Add Steps</h1>
<%= form_with(model: @step, url: steps_path, local: true) do |form| %>
  <%= form.label :value, "Enter Steps:" %>
  <%= form.number_field :value %>
  <%= form.submit "Add Steps" %>
<% end %>
