<!-- This heading indicates the purpose of the form -->
<h1>Add Age</h1>

<!-- This form_with helper generates a form for adding a user's age -->
<%= form_with(model: @age, url: ages_path, local: true) do |form| %>

  <!-- This label prompts the user to enter their age -->
  <%= form.label :value, "Enter Your Age:" %>

  <!-- This number_field generates an input field for entering the age -->
  <%= form.number_field :value %>

  <!-- This submit button allows the user to submit their age -->
  <%= form.submit "Submit Age" %>

<% end %>
