<h1>Add Age</h1>
<%= form_with(model: @age, url: ages_path, local: true) do |form| %>
  <%= form.label :value, "Enter Your Age:" %>
  <%= form.number_field :value %>
  <%= form.submit "Submit Age" %>
<% end %>
